@model BookSystem.Models.LendData
@{
    ViewBag.Title = "LendBookReasult";
}

<h2>LendBook</h2>


@if (ViewBag.LendResult != null)
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th width="10%">借閱日期</th>
                <th width="10%">借閱人編號</th>
                <th width="10%">英文姓名</th>
                <th width="10%">中文姓名</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (List<BookSystem.Models.LendData>)ViewBag.LendResult)
            {
                <tr>
                    <td>@item.LendDate.Replace('-', '/')</td>
                    <td>@item.KeeperId</td>
                    <td>@item.KeeperName</td>
                    <td>@item.KeeperCName</td>
                </tr>
            }
        </tbody>
    </table>
}